body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #dbd9d1, rgb(192, 144, 73));
}

header {
  background-color: #ccc;
  color: black;
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  text-decoration: underline;
}

h3 {
  font-size: 20px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

section {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea,
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  background-color: #a49846;
  color: #fff;
  border: none;
}

button:hover {
  background-color:#7b7777;
}

.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#recipeForm {
  width: 300px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-card h3 {
  margin-top: 10;
}

.recipe-card p {
  margin-bottom: 30px;
}
